STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret

DATABASE_URL=postgresql://postgres:D04M08K19U97B@localhost:5433/medusa-store
DB_NAME=medusa-store
POSTGRES_URL=postgresql://postgres:D04M08K19U97B@localhost:5433/medusa-store

NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_de041e3fbfb94b613a88e698c4286ce6e0b451d8129deced8cb90b8140cb93ae
#DATABASE_URL=postgresql://postgres:D04M08K19U97B@db.vgedrtdegyziblsfygvv.supabase.co:5432/Medusa
#DB_NAME=medusa-v2
#POSTGRES_URL=postgresql://postgres:D04M08K19U97B@db.vgedrtdegyziblsfygvv.supabase.co:5432/Medusa